VITE_SUPABASE_URL=https://tkijutysfgzncswvjmhn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRraWp1dHlzZmd6bmNzd3ZqbWhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMzcwOTAsImV4cCI6MjA2NjcxMzA5MH0._iORDSmW2Ei7mFwFILkxTLk9KFFjobzoV32NUVph1Jk
VITE_SUPABASE_DB_URL=postgresql://postgres:123456a@db.tkijutysfgzncswvjmhn.supabase.co:5432/postgres
